

 * {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.nav-bar-first {
  display: flex;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #890a0a;
  color: rgb(228, 226, 226);
  border-radius: 5px;
  position: fixed;
  top: 5px;
  z-index: 1000;
  width: 100%;
  left: 0; /* Para asegurarte que está alineado al borde izquierdo */
}

.left-section {
  display: flex;
  justify-content: center;
  align-items: center; /* Alineación vertical centrada */
}

.contact-item {
  display: flex;
  align-items: center;
  margin: 0 10px;
  cursor: pointer;
  color: rgb(228, 226, 226);
  text-decoration: none;
}

.contact-item:hover {
  color: rgb(41, 40, 40);
}

.nav-bar-first.transparent {
  background-color: rgba(153, 2, 2, 0.5);
  transition: 1s;
}

.contact-item .icon {
  margin-right: 5px;
}

.email {
  margin-left: 3rem;
}

.right-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.social-networks {
  color: rgb(228, 226, 226);
  display: flex;
  align-items: center;
}

.social-networks:hover {
  color: rgb(0, 0, 0);
}

.social-networks a {
  margin-left: 10px;
}

@media (max-width: 768px) {
  .nav-bar-first {
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
  }

  .right-section {
    align-items: flex-start;
    margin-top: 10px;
  }

  .email {
    margin-left: 0; /* Ajusta el margen para pantallas pequeñas */
  }
}
