.nav-bar-first {
  display: flex;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #c03434;
  color: rgb(228, 226, 226);
  border-radius: 5px;
}

.left-section {
  display: flex;
  justify-content: center;
}

.contact-item {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.contact-item .icon {
  margin-right: 5px;
}

.email {
  margin: 0 0 0 3rem;
}

.right-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.social-networks {
  color: rgb(228, 226, 226);
}

.social-networks a {
  margin-left: 10px;
}

@media (max-width: 768px) {
  .nav-bar-first {
    flex-direction: column;
    align-items: flex-start;
  }

  .right-section {
    align-items: flex-start;
    margin-top: 10px;
  }
}
