.nav-bar-first {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #c03434;
  color: rgb(228, 226, 226);
}

.left-section {
  display: flex;
  flex-direction:initial;
  justify-content: center;
}
.email{
  margin: 1rem 0 0 3rem;
}

.right-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.social-networks a {
  margin-left: 10px;
}

@media (max-width: 768px) {
  .nav-bar-first {
    flex-direction: column;
    align-items: flex-start;
  }

  .right-section {
    align-items: flex-start;
    margin-top: 10px;
  }
}
