* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

.footer {
  width: 100%;
  padding: 20px;
  background-color: #890a0a;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-content > div {
  background-color: #601010;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
.text-footer {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(217, 214, 214);
  margin-top: 30%;
}
.footer p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(217, 214, 214);
  margin-top: 30%;
}

.icon-footer {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .footer-content {
    grid-template-columns: 1fr;
  }
}
